DB_USERNAME="" # Usuário do banco de dados
DB_PASSWORD="" # Senha do banco de dados
DB_DATABASE="" # Base de dados
DB_HOST="localhost" # Local do banco de dados
DB_DIALECT='mysql' # Tipo do banco de dados
DB_PORT=3306 # Tipo do banco de dados

PORT=8080